<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog_entry.title %>
</p>

<p>
  <b>Published:</b>
  <%= @blog_entry.published %>
</p>

<p>
  <b>Published at:</b>
  <%= @blog_entry.published_at %>
</p>

<p>
  <b>Body:</b>
  <%= @blog_entry.body %>
</p>

<%= render :partial => 'pictures/picture', :collection => @piece.pictures %>
<%= render :partial => 'links/link', :collection => @piece.links %>

<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
