<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @piece.name %>
</p>

<p>
  <b>Description:</b>
  <%= @piece.description %>
</p>

<%= render :partial => 'pictures/picture', :collection => @piece.pictures %>
<%= render :partial => 'links/link', :collection => @piece.links %>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
