<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @piece.name %>
</p>

<p>
  <b>Description:</b>
  <%= @piece.description %>
</p>

<% @piece.pictures.each do |pic| %>
  <p>
    <%= image_tag pic.image.url %>
  </p>
<% end %>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
