<div class="field">
  <%= label_tag :name %><br />
  <%= text_field_tag :name %>
</div>
<div class="field">
  <%= label_tag :description %><br />
  <%= text_area_tag :description %>
</div>
<div class="field">
  <%= label_tag :slug %><br />
  <%= text_field_tag :slug %>
</div>
<div class="field">
  <%= file_field_tag :image%>
</div>
